body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
background-position: center;
background-size: 420px;

}
.full{
background-color:whitesmoke;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
border-radius: 15px;
font-size: 90%;
text-align: center;
padding: 35px;
max-width: 350px;
color: rgb(226, 99, 99);
margin: 15% auto 2% auto;
opacity: 0.98;}